* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.contenedor {
  padding: 60px 0;
  width: 90%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
}

.titulo {
  font-size: 30px;
  text-align: center;
  margin-bottom: 60px;
}

footer .contenedor-footer {
  display: flex;
  justify-content: space-evenly;
}

header .textos-header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 430px;
  width: 100%;
}

header {
  width: 100%;
  height: 600px;
  background: #DCE35B; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, hsla(122deg, 45%, 49%, 0.589), hsla(63deg, 71%, 62%, 0.575)), url(../imagen/madera.png); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, hsla(122deg, 45%, 49%, 0.589), hsla(63deg, 71%, 62%, 0.575)), url(../imagen/madera.png); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}
header nav div div ul li a {
  font-style: oblique;
  padding: 0.5rem 1rem;
  color: rgb(255, 255, 255);
  font-weight: 300;
  text-decoration: none;
  margin-right: 10px;
  transition: 0.5s linear;
  border-radius: 5px;
  font-weight: bold;
}
header nav div div ul li a:hover {
  background-color: hsla(128deg, 27%, 83%, 0.527);
}
@media screen and (max-width: 450px) {
  header nav {
    text-align: left;
    padding: 30px 0 0 0;
  }
}
header .textos-header {
  text-align: center;
  padding: 20px;
}
header .textos-header h1 {
  margin-bottom: 0%;
  font-size: 50px;
  color: rgb(233, 227, 227);
  font-style: italic;
}
@media screen and (max-width: 450px) {
  header .textos-header h1 {
    font-size: 30px;
  }
}
header .textos-header p {
  margin-top: 30px;
  font-size: 20px;
  color: white;
}
@media screen and (max-width: 450px) {
  header .textos-header p {
    font-size: 25px;
  }
}
@media screen and (max-width: 900px) {
  header {
    background-position: center;
  }
}

.sobre-nosotros .contenedor-sobre-nosotros {
  display: flex;
  justify-content: space-evenly;
  padding-left: 10px;
}
.sobre-nosotros .contenedor-sobre-nosotros .imagen {
  width: 48%;
  margin-right: 80px;
}
@media screen and (max-width: 900px) {
  .sobre-nosotros .contenedor-sobre-nosotros .imagen {
    width: 90%;
  }
}
@media screen and (max-width: 450px) {
  .sobre-nosotros .contenedor-sobre-nosotros .imagen {
    margin-bottom: 10px;
    width: 99%;
    align-items: center;
  }
}
.sobre-nosotros .contenedor-sobre-nosotros .contenido-textos {
  padding: 10px;
  background: green;
  color: white;
  border-radius: 10px;
  text-align: center;
  height: 100%;
  line-height: 25px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
}
.sobre-nosotros .contenedor-sobre-nosotros .contenido-textos p {
  font-weight: 300;
  text-align: center;
}
@media screen and (max-width: 900px) {
  .sobre-nosotros .contenedor-sobre-nosotros .contenido-textos {
    width: 90%;
  }
}
@media screen and (max-width: 450px) {
  .sobre-nosotros .contenedor-sobre-nosotros .contenido-textos {
    width: 95%;
  }
}
@media screen and (max-width: 900px) {
  .sobre-nosotros .contenedor-sobre-nosotros {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.productos {
  background-color: #f2f2f2;
}
.productos .galeria-prod {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.productos .galeria-prod .imagen-prod {
  width: 24%;
  margin-bottom: 10px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
}
.productos .galeria-prod .imagen-prod img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.productos .galeria-prod .imagen-prod .hover-galeria {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  transform: scale(0);
  background-color: hsla(120deg, 78%, 60%, 0.575);
  transition: transform 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.productos .galeria-prod .imagen-prod .hover-galeria p {
  color: black;
  font-weight: bold;
}
.productos .galeria-prod .imagen-prod .hover-galeria img {
  width: 50px;
}
@media screen and (max-width: 450px) {
  .productos .galeria-prod .imagen-prod .hover-galeria {
    font-size: 20px;
  }
}
@media screen and (max-width: 900px) {
  .productos .galeria-prod .imagen-prod {
    width: 44%;
  }
}
@media screen and (max-width: 450px) {
  .productos .galeria-prod .imagen-prod {
    width: 80%;
  }
}
.productos .galeria-prod .imagen-prod:hover .hover-galeria {
  transform: scale(1);
}

.donde-encontrarnos {
  background-color: #f2f2f2;
  padding-bottom: 30px;
}
.donde-encontrarnos .contenedor .ubicacion-cont {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.donde-encontrarnos .contenedor .ubicacion-cont .ubicacion-map {
  width: 28%;
  text-align: center;
}
.donde-encontrarnos .contenedor .ubicacion-cont .ubicacion-map .mapa {
  width: 90%;
}
.donde-encontrarnos .contenedor .ubicacion-cont .ubicacion-map .reloj {
  width: 90%;
}
.donde-encontrarnos .contenedor .ubicacion-cont .ubicacion-map h3 {
  margin: 10px 0;
}
.donde-encontrarnos .contenedor .ubicacion-cont .ubicacion-map p {
  font-weight: 300;
  text-align: justify;
}
@media screen and (max-width: 900px) {
  .donde-encontrarnos .contenedor .ubicacion-cont .ubicacion-map {
    width: 80%;
    text-align: center;
  }
}
@media screen and (max-width: 900px) {
  .donde-encontrarnos .contenedor .ubicacion-cont {
    justify-content: center;
    flex-direction: column;
  }
}

footer .contenedor-footer {
  display: flex;
  justify-content: space-evenly;
}

header .textos-header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 430px;
  width: 100%;
}

footer {
  background-color: #414141;
  padding: 60px 0 30px 0;
  margin: auto;
  overflow: hidden;
}
footer .contenedor-footer {
  width: 90%;
  margin: auto;
  padding-bottom: 50px;
  border-bottom: 1px solid #ccc;
}
footer .contenedor-footer .content-foo {
  text-align: center;
}
footer .contenedor-footer .content-foo h4 {
  color: #f2f2f2;
  border-bottom: 3px solid green;
  padding-bottom: 5px;
  margin-bottom: 10px;
}
footer .contenedor-footer .content-foo p {
  color: #ccc;
}

footer .contenedor-footer {
  display: flex;
  justify-content: space-evenly;
}

header .textos-header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 430px;
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
